{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
<section>
    <div class="container_mapa">
    <input placeholder="Digite a cidade de seu interesse" class="input_mapa"></input>
    <i class="fa-brands fa-searchengin"></i>
    </div>
    <div id="map"></div>
</section>


{% endblock %}


{% block body %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0dwyuohiUY6aqJQEfNTVozRb9rf_DP6M&callback=initMap" async defer></script>
<!--  -->

{% endblock %}
