.container_mapa{
    margin-top: 10px;
}

.input_mapa {
    position: relative;
    width: 500px;
    height: 30px;
}

.fa-brands{
    position: absolute;
    font-size: 22px;
    left: 480px;
    top: 18px;

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}